<header class="hero-unit" id="banner">
  <div class="container">
    <div layout="row" layout-sm="column" layout-align="center center" class="lead-selectors" ng-if="vm.loading">
      <span class="fa fa-spinner fa-spin"></span>
    </div>
    <div layout="row" layout-sm="column" layout-align="center center" class="lead-selectors" ng-if="!vm.loading">
      <div>
        <select class="form-control"
                ng-model="vm.zone"
                ng-options="z.neighborhood for z in vm.zones"></select>
      </div>
      <div hide-sm>
        <select class="form-control"
                ng-model="vm.service"
                ng-options="s.description for s in vm.services"></select>
      </div>
      <div hide-sm>
        <button type="button" class="btn btn-success" ng-click="vm.bookNow()">Book Now</button>
      </div>
      <div hide-gt-sm>
        <div layout="row" layout-sm="row" layout-wrap flex layout-align="center center">
          <div class="service"
               ng-repeat="service in vm.services"
                ng-click="vm.bookNow(service.name)">
            {{service.description}}<br>
            <img ng-src="{{service.iconSrc}}" />
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div layout="row" layout-align="center center" class="why-zest-container">
  <div class="why-zest">
    <h2>Why Zest?</h2>
    <div layout="row" layout-sm="column" layout-align="center center">
      <div class="reason">
        <img src="/assets/images/check.png" />
        <h2>Trusted</h2>
        <p>When we say we clean it like we own it, that's exactly what we mean.</p>
      </div>
      <div class="reason">
        <img src="/assets/images/zest-professional.png" />
        <h2>Professional</h2>
        <p>Each Zestar has been specifically picked, trained and certified to industry specifications.</p>
      </div>
      </div>
      <div layout="row" layout-sm="column" layout-align="center center">
        <div class="reason">
        <img src="/assets/images/calendar-date.png" />
        <h2>On-Time</h2>
          <pWe are obsessed with punctuality. No African time, no story.</p>
      </div>
        <div class="reason">
        <img src="/assets/images/noun_103162_cc.png" />
        <h2>Reliable</h2>
          <p>Our customers can always count on us to deliver only quality service.</p>
      </div>
    </div>
  </div>
</div>

<div layout="row" layout-align="center center" class="happy-customers-container">
  <div class="happy-customers">
    <h2>Our Happy Customers</h2>
    <div layout="row" layout-sm="column" layout-wrap layout-align="center center">
      <div class="testimonial">
        <i class="fa fa-quote-left" style="color:#5cb85c"></i>
        <p style="font-size:20px">Great service! The team was professional, friendly, and efficiently organized! I would recommend Zest without hesitation.</p>
        <br><i class="fa fa-quote-right" style="color:#5cb85c"></i>
        <h3>RITA K, Victoria Island</h3><br>
      </div>
      <div class="testimonial">
        <i class="fa fa-quote-left" style="color:#5cb85c"></i>
        <p style="font-size:20px">The staff was punctual and did a thorough cleaning. They even cleaned my vents! Would definitely recommend this service.</p>
        <br><i class="fa fa-quote-right" style="color:#5cb85c"></i>
        <h3>TAFFY A, Yaba</h3><br>
      </div>
      <div class="testimonial">
        <i class="fa fa-quote-left" style="color:#5cb85c"></i>
        <p style="font-size:20px">Friendly, professional. Came on time, went the extra mile :)</p>
        <br><i class="fa fa-quote-right" style="color:#5cb85c"></i>
        <h3>NOELLA M, Oworonshoki</h3><br>
      </div>
    </div>
  </div>
</div>

<div ng-include="'app/contact-us/contact-us.html'"></div>

<footer class="footer">
  <div class="container">
    <p>Copyright Zest Services | A fully licensed <a target="_blank" href="http://www.generationenterprise.org/">Generation Enterprise Company</a>.</p>
  </div>
</footer>
