#banner {
  border-bottom: none;
  margin-top: -20px;
  background: url(../../assets/images/living-room-lg.png) no-repeat;
  background-color: #bc893c;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #bc893c;
  height:100%;
}

.footer {
  text-align: center;
  padding: 30px 0;
  border-top: 1px solid #E5E5E5;
  background:black;
  color:white;
}

.navbar-text {
  margin-left: 15px;
}

.lead-selectors{
  margin-top:170px;
}

.lead-selectors > div{
  padding:5px;
}

.lead-selectors select {
  width:210px;
}

.lead-selectors .service{
  width:100px;
  height: 150px;
  padding:10px;
  margin:5px;
  color: #000;
  background-color: #fff;
  border-color: #4cae4c;
  border-radius:4px;
}

.lead-selectors .service img{
  width: 80px;
  margin-top:15px
}

.why-zest-container{
  margin-bottom: 15px;
}

.why-zest, .happy-customers{
  text-align: center;
  max-width: 900px;
}

.why-zest .reason{
  width:300px;
}

.why-zest img{
  height:153px;
  width:193px;
}

.happy-customers-container, .email-us-container, .share-us-container{
  background:#E8E8E8;
  padding-top:15px;
}

.happy-customers .testimonial{
  border:1px solid white;
  background:white;
  margin:15px;
  max-width: 400px;
}

@media screen and (max-width: 768px){
  #banner {
    background: url(../../assets/images/living-room-1280x853.jpg) no-repeat;
    background-color: #bc893c;
  }
  .lead-selectors{
    margin-top:15px;
  }
}
