<header class="hero-unit" id="banner">
  <div class="container">
    <div layout="row" layout-sm="column" layout-align="center center" class="lead-selectors" ng-if="vm.loading">
      <span class="fa fa-spinner fa-spin"></span>
    </div>
    <div layout="row" layout-sm="column" layout-align="center center" class="lead-selectors" ng-if="!vm.loading">
      <div>
        <select class="form-control"
                ng-model="vm.zone"
                ng-options="z.neighborhood for z in vm.zones"></select>
      </div>
      <div hide-sm>
        <select class="form-control"
                ng-model="vm.service"
                ng-options="s.description for s in vm.services"></select>
      </div>
      <div hide-sm>
        <button type="button" class="btn btn-success" ng-click="vm.bookNow()">Book Now</button>
      </div>
      <div hide-gt-sm>
        <div layout="row" layout-sm="row" layout-wrap flex layout-align="center center">
          <div class="service"
               ng-repeat="service in vm.services"
                ng-click="vm.bookNow(service.name)">
            {{service.description}}<br>
            <img ng-src="{{service.iconSrc}}" />
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div layout="row" layout-align="center center" class="why-zest-container">
  <div class="why-zest">
    <h2>Why Zest?</h2>
    <div layout="row" layout-sm="column" layout-align="center center">
      <div class="reason">
        <img src="/assets/images/check.png" />
        <h2>Trusted</h2>
        <p>******INSERT DETAILS HERE*******</p>
      </div>
      <div class="reason">
        <img src="/assets/images/zest-professional.png" />
        <h2>Professional</h2>
        <p>******INSERT DETAILS HERE*******</p>
      </div>
      </div>
      <div layout="row" layout-sm="column" layout-align="center center">
        <div class="reason">
        <img src="/assets/images/calendar-date.png" />
        <h2>On-Time</h2>
          <p>******INSERT DETAILS HERE*******</p>
      </div>
        <div class="reason">
        <img src="/assets/images/noun_103162_cc.png" />
        <h2>Reliable</h2>
          <p>******INSERT DETAILS HERE*******</p>
      </div>
    </div>
  </div>
</div>

<div layout="row" layout-align="center center" class="happy-customers-container">
  <div class="happy-customers">
    <h2>Our Happy Customers</h2>
    <div layout="row" layout-sm="column" layout-wrap layout-align="center center">
      <div class="testimonial">
        <i class="fa fa-quote-left" style="color:#5cb85c"></i>
        <p style="font-size:20px">Great service! The team was professional, friendly, and efficiently organized! I would recommend Zest without hesitation.</p>
        <br><i class="fa fa-quote-right" style="color:#5cb85c"></i>
        <h3>RITA K, Victoria Island</h3><br>
      </div>
      <div class="testimonial">
        <i class="fa fa-quote-left" style="color:#5cb85c"></i>
        <p style="font-size:20px">The staff was punctual and did a thorough cleaning. They even cleaned my vents! Would definitely recommend this service.</p>
        <br><i class="fa fa-quote-right" style="color:#5cb85c"></i>
        <h3>TAFFY A, Yaba</h3><br>
      </div>
      <div class="testimonial">
        <i class="fa fa-quote-left" style="color:#5cb85c"></i>
        <p style="font-size:20px">Friendly, professional. Came on time, went the extra mile :)</p>
        <br><i class="fa fa-quote-right" style="color:#5cb85c"></i>
        <h3>NOELLA M, Oworonshoki</h3><br>
      </div>
    </div>
  </div>
</div>

<div layout="row" layout-sm="column" layout-align="center center" class="call-us-container">
  <div><h2>Call Us:&nbsp;</h2></div>
  <div><h2><a href="tel:08121090833">081&nbsp;2109&nbsp;0833</a></h2></div>
</div>

<div layout="row" layout-sm="column" layout-align="center center" class="email-us-container">
  <div><h2>Email Us:&nbsp;</h2></div>
  <div><h2><a href="mailto:sales@zest.com.ng">sales@zest.com.ng</a></h2></div>
</div>

<div layout="row" layout-sm="column" layout-align="center center" class="find-us-container">
  <div><h2>Find Us:&nbsp;</h2></div>
  <div style="padding:15px;color:#gray">
    5 Maitama Sule,<br>
    off Awolowo Road<br>
    Ikoyi, Lagos, Nigeria
  </div>
  <div><a href="https://www.google.com/maps/dir//Lekki-Epe+Expy,+Nigeria/@6.4699543,3.587443,14.28z/data=!4m8!4m7!1m0!1m5!1m1!1s0x103bf9fb4eb7c3b7:0x507aabaab125ea38!2m2!1d3.587287!2d6.4699697" target="_blank">
  <img src="/assets/images/location.png" />
  </a> </div>
</div>

<div layout="row" layout-sm="column" layout-align="center center" layout-wrap class="share-us-container">
  <div><h2>Share Us:&nbsp;</h2></div>
  <div>
    <a target="_blank" href="https://www.facebook.com/zestcleaningservices.ng/"><img src="/assets/images/facebook.png"/></a>
  </div>
  <div>
    <a target="_blank" href="https://twitter.com/zest_lagos"><img src="/assets/images/twitter.png"/></a>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <p>Copyright Zest Services | A fully licensed <a target="_blank" href="http://www.generationenterprise.org/">Generation Enterprise Company</a>.</p>
  </div>
</footer>
