<div layout="column" layout-align="center center">
  <md-content flex class="standard-form">
    <h4 class="header">Refer a Friend</h4>
    <form class="form" name="userForm" ng-if="!vm.loading" ng-submit="vm.send(userForm)" novalidate>
      <div class="form-group" ng-class="{ 'has-error' : userForm.firstName.$invalid && userForm.firstName.$touched }">
        <input
          class="form-control"
          type="text"
          name="firstName"
          ng-model="vm.referral.firstName"
          ng-minlength="3"
          ng-maxlength="88"
          placeholder="First Name"
          required>
        <div ng-messages="userForm.firstName.$error">
          <p ng-message="minlength">First name is too short.</p>
          <p ng-message="maxlength">First name is too long.</p>
          <p ng-message="required">First name is required.</p>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : userForm.lastName.$invalid && userForm.lastName.$touched }">
        <input
          class="form-control"
          type="text"
          name="lastName"
          ng-model="vm.referral.lastName"
          ng-minlength="3"
          ng-maxlength="88"
          placeholder="Last Name"
          required>
        <div ng-messages="userForm.lastName.$error">
          <p ng-message="minlength">Last name is too short.</p>
          <p ng-message="maxlength">Last name is too long.</p>
          <p ng-message="required">Last name is required.</p>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && userForm.email.$touched }">
        <input
          class="form-control"
          type="text"
          name="email"
          ng-model="vm.referral.email"
          ng-minlength="3"
          placeholder="Email"
          required>
        <div ng-messages="userForm.email.$error">
          <p ng-message="minlength">Email is too short.</p>
          <p ng-message="required">Email is required.</p>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : userForm.mobilePhone.$invalid && userForm.mobilePhone.$touched }">
        <input
          class="form-control"
          type="text"
          name="mobilePhone"
          ng-model="vm.referral.mobilePhone"
          ng-minlength="3"
          ui-br-phone-number
          placeholder="Mobile Phone"
          required>
        <div ng-messages="userForm.mobilePhone.$error">
          <p ng-message="minlength">Phone is too short.</p>
          <p ng-message="required">Phone is required.</p>
        </div>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-success submit" ng-if="vm.sending">
          <span class="fa fa-spinner fa-spin"></span>
        </button>
        <button type="button" class="btn btn-success submit"
                ng-click="vm.send()"
                ng-disabled="userForm.$invalid"
                ng-if="!vm.sending">Send</button>
      </div>
    </form>
    <div ng-if="vm.done">
      <h3>Thank You!</h3>
        <p>Your referral has been sent.</p>
        <h3><span class="text-success glyphicon glyphicon-ok"></span></h3>
    </div>
  </md-content>
</div>

