
<div layout="column" layout-align="center center" class="bookings">
  <h4 class="header">Bookings</h4>
  <md-content flex class="standard-form" ng-if="vm.loading">
    <span class="fa fa-spinner fa-spin"></span>
  </md-content>
  <md-content flex class="standard-form" ng-if="!vm.loading">

    <section style="">
      <md-subheader class="md-primary">Scheduled</md-subheader>
      <md-list layout-padding>
        <md-list-item class="md-3-line" ng-if="vm.booking.length === 0">
          <div class="md-list-item-text none">
            <p>No Bookings Scheduled</p>
          </div>
        </md-list-item>
        <md-list-item class="md-3-line" ng-repeat="booking in vm.scheduled">
          <img ng-src="{{booking.ServiceType.iconSrc}}" class="md-avatar">
          <div class="md-list-item-text">
            <p style="color:black">{{vm.nextDateTime(booking)}}</p>
            <p>{{booking.hours}} hour {{booking.ServiceType.description.toLowerCase()}}</p>
            <p>{{booking.Frequency.description}}</p>
            <p style="color:red" ng-if="!booking.active">Deactivated</p>
            <p style="color:green" ng-if="booking.active">Active</p>
          </div>
          <div class="pull-right" style="margin:auto">
            <!--button class="btn btn-default btn-xs" ng-click="vm.edit(booking)">&nbsp;&nbsp;Edit&nbsp;&nbsp;</button><br><br-->
            <button class="btn btn-danger btn-xs" ng-click="vm.delete(booking)">Delete</button>
          </div>
          <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
      </md-list>
    </section>

    <div class="form-group">
      <button class="btn btn-success submit"
              ui-sref="main">New Booking</button>
    </div>
    <!--section ng-if="vm.completed.length !== 0">
      <md-subheader class="md-primary">Completed</md-subheader>
      <md-list layout-padding>
        <md-list-item class="md-3-line" ng-repeat="booking in vm.completed">
          <img ng-src="{{booking.ServiceType.iconSrc}}" class="md-avatar">
          <div class="md-list-item-text">
            <h3>{{booking.ServiceType.description}}</h3>
            <h4>{{booking.Frequency.description}}</h4>
            <p>
              {{booking.address}}
            </p>
          </div>
          <span class="fa fa-check"></span>
        </md-list-item>
      </md-list>
    </section-->

  </md-content>
</div>

