<form name="form" novalidate>
  <div layout="column" layout-align="center center" id="homecleaning-form-container">
    <md-content flex class="standard-form" ng-if="vm.loading">
      <span class="fa fa-spinner fa-spin"></span>
    </md-content>
    <md-content flex class="standard-form" ng-if="!vm.loading">
      <h4 class="header">Home Cleaning</h4>
      <div class="form-item">
        <h-number value="vm.service.bedrooms" min="1" max="10" step="1" singular="bedroom" plural="bedrooms"></h-number>
      </div>
      <div class="form-item">
        <h-number value="vm.service.bathrooms" min="1" max="10" step="1" singular="bathroom" plural="bathrooms"></h-number>
      </div>
      <div class="form-item">
        <div class="sub-header">Cleaning Extras</div>
        <div layout="row" layout-sm="row" layout-wrap flex class="extras" layout-align="center center">
          <div ng-repeat="item in vm.service.extras" ng-click='item.selected = !item.selected'>
            <div class="extra-item {{item.selected===true ? 'selected':''}}">
              <img ng-src="{{item.iconSrc}}"> {{item.description}} <span ng-if="item.displayRate">(₦{{item.rate}})</span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-item">
        Cleaning will take approximately <b>{{vm.hours()}} {{vm.hours() == 1 ? 'hour' : 'hours'}}</b>.
      </div>
      <div class="form-item">
        <div class="bottom-margin-sm">Do you have any pets?</div>
        <div class="btn-group full-width bottom-margin-sm">
          <label class="btn btn-default" ng-model="vm.service.cats" btn-checkbox style="width:34%">Cats</label>
          <label class="btn btn-default" ng-model="vm.service.dogs" btn-checkbox style="width:34%">Dogs</label>
          <label class="btn btn-default" ng-model="vm.service.otherPets" btn-checkbox style="width:32%">Other</label>
        </div>
        <input ng-if="vm.service.cats || vm.service.dogs || vm.service.otherPets"
               type="text" class="form-control pets-describe"
               ng-model="vm.service.petsDescription"
               placeholder="Describe eg. Black cat, white cat">
      </div>
      <div class="form-item">
        <div class="bottom-margin-sm"><b>How often?</b></div>
        <md-radio-group ng-model="vm.freq" class="frequency" ng-change="vm.update()">
          <md-radio-button ng-repeat="freq in vm.frequencies"
                           value="{{freq.name}}"
                           class="md-primary">{{freq.description}} <span ng-if="freq.displayRate">(₦{{freq.rate}}/hr)</span></md-radio-button>
        </md-radio-group>
      </div>
      <div class="form-item">
        <div class="bottom-margin-sm"><b>Where?</b></div>
        <div class="form-group" ng-class="{ 'has-error' : form.address.$invalid && form.address.$touched }">
          <label>Address</label>
          <input
            class="form-control"
            type="text"
            name="address"
            ng-model="vm.service.address"
            ng-minlength="3"
            required>
          <div ng-messages="form.address.$error">
            <p ng-message="minlength">Your address is too short.</p>
            <p ng-message="required">Your address is required.</p>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : form.city.$invalid && form.city.$touched }">
          <label>City</label>
          <input
            class="form-control"
            type="text"
            name="city"
            ng-model="vm.service.city"
            ng-minlength="3"
            required>
          <div ng-messages="form.city.$error">
            <p ng-message="minlength">Your city is too short.</p>
            <p ng-message="required">Your city is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label>Neighborhood</label>

          <select class="form-control"
                  ng-change="vm.update()"
                  ng-model="vm.service.ZoneId"
                  ng-options="z.id as z.neighborhood for z in vm.zones"></select>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-success submit" ng-if="vm.continuing">
            <span class="fa fa-spinner fa-spin"></span>
          </button>
          <button class="btn btn-success submit"
                  type="submit"
                  ng-disabled="form.$invalid"
                  ng-click="vm.next()"
                  ng-if="!vm.continuing">Continue</button>
        </div>
      </div>
    </md-content>
    <md-toolbar class="price-breakdown">
      <div class="md-toolbar-tools">
        <div layout="column" layout-align="center center">
          <table class="price">
            <tr>
              <td>{{vm.hours()}} hour cleaning (₦{{vm.frequency.rate}}/hour) x{{vm.frequency.multiplier}}</td>
              <td>₦{{(vm.hours()*vm.frequency.rate).toFixed(1)}}</td>
            </tr>
            <!--tr ng-if="vm.zone.rate">
              <td>+ {{vm.zone.neighborhood}} transportation</td>
              <td>₦{{(1*vm.zone.rate).toFixed(1)}}</td>
            </tr-->
            <tr ng-if="vm.extras()">
              <td>+ Extras</td>
              <td>₦{{vm.extras().toFixed(1)}}</td>
            </tr>
            <tr>
              <td><b><span ng-if="vm.frequency.name !== 'once'">Monthly</span> Total</b></td>
              <td><b>₦{{vm.total().toFixed(1)}}</b></td>
            </tr>
          </table>
          <div></div><br>
          <span ></span>
          <div style="width:300px;font-size:11px">
          </div>
        </div>
      </div>
    </md-toolbar>
  </div>
</form>

