.extra-item {
  xborder: 1px solid red;
  width:90px;
  xmargin:10px;
  height:110px;
  opacity:0.40;
}

.extra-item:hover{
  cursor:pointer;
}

.extra-item img {
  display: block;
  height: 60px;
  margin-left: auto;
  margin-right: auto
}

.extra-item .fa-spinner {
  line-height: 90px;
}

.extra-item.selected {
  opacity: 1;
}
